{% extends 'base.html' %}
{% block head_content %}

<head>
  <meta charset="UTF-8">
  <title>Bin | Stepik Delivery</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
    /* Sticky footer styles
    -------------------------------------------------- */
    html {
      position: relative;
      min-height: 100%;
    }

    body {
      margin-bottom: 60px;
      /* Margin bottom by footer height */
    }

    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 60px;
      /* Set the fixed height of the footer here */
      line-height: 60px;
      /* Vertically center the text there */
    }

    .navbar {
      padding-top: 0;
      padding-bottom: 0;
    }
  </style>
</head>
{% endblock %}

{% block main_content %}

<body>
  {% include 'menu.html' %}
  <main class="container">
    <h1 class="h3 my-4">Корзина</h1>
    {% if is_removed %}
    <div class="alert alert-warning" role="alert">Блюдо удалено из корзины</div>
    {% endif %}
    {% if not is_auth %}
    <div class="alert alert-warning" role="alert">Чтобы сделать заказ – <a href="{{ url_for('login') }}">войдите</a> или <a
        href="{{ url_for('register') }}">зарегистрируйтесь</a></div>
    {% endif %}
    <div class="row mt-5">


      <div class="col-4">
        <form action="/cart/" method="POST">
          <h4 class="">Ваши данные</h4>
          {% if form.errors %}
          <ul class="errors">
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
            <li>{{ error }}</li>
            {% endfor %}
            {% endfor %}
          </ul>
          {% endif %}
          {{ form.csrf_token }}


          <div class=" md-4 order-md-1">
            <div class="mt-3 mb-3">
              {{ form.name.label }}
              {{ form.name(class="font-weight-bold form-control") }}
            </div>
          </div>
          <div class=" md-4 order-md-1">
            <div class="mt-3 mb-3">
              {{ form.address.label }}
              {{ form.address(class="font-weight-bold form-control") }}
            </div>
          </div>
          <div class="md-4 form-label-group">
            {{ form.email.label }}
            {{ form.email(class="font-weight-bold form-control") }}
          </div>
          <div class=" md-4 order-md-1">
            <div class="mt-3 mb-3">
              {{ form.phone.label }}
              {{ form.phone(class="font-weight-bold form-control") }}
            </div>

            <input type="hidden" value="{{ order_sum }}" name="order_sum">
            <input type="hidden" value="{{ meals_ids }}" name="order_cart">

            <input type="submit" class=" mt-3 mb-5 btn btn-danger" value="Оформить заказ">
        </form>
      </div>




    </div>



    <div class="col-1"></div>
    <div class="col-7">
      <h4 class="mb-3 col-7 mb-5">{{ meals | length }} блюда в корзине</h4>
      <table class="table">
        <tbody>
          {% for meal in meals %}
          <tr>
            <th scope="row">{{meal['title']}}</th>
            <td></td>
            <td>1</td>
            <td>{{meal['price']}}</td>
            <td><a class="text-danger" href="{{ url_for('remove_item', item_id=meal['meal_id']) }}">Удалить</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <hr>
      <p class="display-4 my-2 ">{{ order_sum }} руб</p>
    </div>
    </div>
  </main>
  {% include 'footer.html' %}
</body>
{% endblock %}